Supporting multiple URI templates?

This could be achieved in a similar manner to [RFC 8572 §8.3](https://tools.ietf.org/html/rfc8572#section-8.3):

```text
8.3.  Common Field Encoding

   Both of the DHCPv4 and DHCPv6 options defined in this section encode
   a list of bootstrap server URIs.  The "URI" structure is a DHCP
   option that can contain multiple URIs (see [RFC7227], Section 5.7).
   Each URI entry in the bootstrap-server-list is structured as follows:

    +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-...-+-+-+-+-+-+-+
    |       uri-length              |          URI                  |
    +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-...-+-+-+-+-+-+-+

    * uri-length: 2 octets long; specifies the length of the URI data.
    * URI: URI of the SZTP bootstrap server.
```

This means for a single URI template, the payload would contain the option code/type (1/2 bytes), length of the entire URI template(s) section (1/2 bytes), the URI length (2 bytes) and then the template itself.

Would having support for multiple templates benefit implementors?